In [42]:
import pandas as pd
import numpy as np

In [3]:
lifedf= pd.read_csv('/home/gzn/pgm/LED_continent.csv')

In [18]:
gdp=pd.read_excel('/home/gzn/pgm/API_NE.GDI.TOTL.KD_DS2_en_excel_v2_5463459.xls',sheet_name='Data')

In [19]:
gdp= gdp[['Country Name','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]

In [21]:
gdp.set_index('Country Name',inplace=True)

In [74]:
nan_gdp = lifedf[lifedf['GDP'].isna()]
nan_gdp

,Unnamed: 0,Country,continent,Life expectancy,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
160,160,Bahamas,Americas,76.1,2015,0,147.0,0,NaN,0.0,...,95.0,NaN,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
161,161,Bahamas,Americas,75.4,2014,0,16.0,0,9.45,0.0,...,96.0,7.74,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6
162,162,Bahamas,Americas,74.8,2013,0,172.0,0,9.42,0.0,...,97.0,7.50,97.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
163,163,Bahamas,Americas,74.9,2012,0,167.0,0,9.50,0.0,...,99.0,7.43,98.0,0.2,NaN,NaN,2.5,2.5,0.789,12.6
164,164,Bahamas,Americas,75.0,2011,0,162.0,0,9.34,0.0,...,97.0,7.63,98.0,0.1,NaN,NaN,2.5,2.5,0.788,12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,2901,Yemen,Asia,62.2,2004,0,247.0,42,0.06,0.0,...,72.0,4.90,72.0,0.1,NaN,NaN,13.9,13.9,0.464,8.4
2902,2902,Yemen,Asia,61.9,2003,0,249.0,43,0.04,0.0,...,61.0,5.00,61.0,0.1,NaN,NaN,14.0,13.9,0.457,8.2
2903,2903,Yemen,Asia,61.5,2002,0,25.0,45,0.07,0.0,...,64.0,4.22,65.0,0.1,NaN,NaN,14.0,14.0,0.450,8.0
2904,2904,Yemen,Asia,61.1,2001,0,251.0,46,0.08,0.0,...,73.0,4.34,73.0,0.1,NaN,NaN,14.0,14.0,0.444,7.9
2905,2905,Yemen,Asia,68.0,2000,0,252.0,48,0.07,0.0,...,74.0,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7

In [75]:
missdf = nan_gdp[['Country','Year']]
for i in range(len(missdf)):
    country = str(missdf.iloc[i,0])
    year = str(missdf.iloc[i,1])
    if country in set(gdp.index.tolist()):
        nan_gdp.iloc[i,18]=gdp.loc[country,year]
    else:
        nan_gdp.iloc[i,18]=np.nan

In [78]:
nan_gdp = nan_gdp.replace('NaN', np.nan)

In [79]:
nana = nan_gdp[nan_gdp['GDP'].isna()]
len(nana)

431

In [80]:
gdpdropna = nan_gdp.dropna(subset=['GDP'])
gdpdropna

,Unnamed: 0,Country,continent,Life expectancy,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
689,689,Czechia,Europe,78.8,2015,1,86.0,0,NaN,0.0,...,97.0,NaN,97.0,0.1,5.261775e+10,NaN,1.8,1.8,NaN,NaN
690,690,Czechia,Europe,78.6,2014,1,88.0,0,12.68,0.0,...,99.0,7.41,97.0,0.1,4.651635e+10,NaN,1.8,1.9,NaN,NaN
691,691,Czechia,Europe,78.2,2013,1,9.0,0,12.45,0.0,...,99.0,7.49,98.0,0.1,4.341367e+10,NaN,1.8,1.9,NaN,NaN
692,692,Czechia,Europe,78.0,2012,1,93.0,0,12.71,0.0,...,99.0,7.55,99.0,0.1,4.533665e+10,NaN,1.8,1.9,NaN,NaN
693,693,Czechia,Europe,77.8,2011,1,97.0,0,12.43,0.0,...,99.0,7.50,99.0,0.1,4.731200e+10,NaN,1.9,1.9,NaN,NaN
694,694,Czechia,Europe,77.5,2010,1,99.0,0,12.69,0.0,...,99.0,7.43,99.0,0.1,4.649712e+10,NaN,1.9,2.0,NaN,NaN
695,695,Czechia,Europe,77.1,2009,1,12.0,0,13.23,0.0,...,99.0,7.85,99.0,0.1,4.462080e+10,NaN,1.9,2.0,NaN,NaN
696,696,Czechia,Europe,77.0,2008,1,16.0,0,13.25,0.0,...,99.0,6.82,99.0,0.1,5.419523e+10,NaN,1.9,2.0,NaN,NaN
697,697,Czechia,Europe,76.8,2007,1,17.0,0,13.43,0.0,...,99.0,6.52,99.0,0.1,5.370346e+10,NaN,2.0,2.1,NaN,NaN
698,698,Czechia,Europe,76.5,2006,1,19.0,0,13.03,0.0,...,98.0,6.69,98.0,0.1,4.698385e+10,NaN,2.0,2.1,NaN,NaN
699,699,Czechia,Europe,75.9,2005,1,114.0,0,13.19,0.0,...,96.0,6.93,97.0,0.1,4.287880e+10,NaN,2.1,2.1,NaN,NaN
700,700,Czechia,Europe,75.8,2004,1,116.0,0,13.24,0.0,...,96.0,6.90,98.0,0.1,4.108054e+10,NaN,2.1,2.2,NaN,NaN
701,701,Czechia,Europe,75.2,2003,1,122.0,0,13.01,0.0,...,97.0,7.13,97.0,0.1,3.819723e+10,NaN,2.2,2.2,NaN,NaN
702,702,Czechia,Europe,75.3,2002,1,12.0,0,13.47,0.0,...,97.0,6.80,98.0,0.1,3.798685e+10,NaN,2.2,2.3,NaN,NaN
703,703,Czechia,Europe,75.1,2001,1,123.0,0,13.36,0.0,...,97.0,6.42,98.0,0.1,3.743528e+10,NaN,2.2,2.3,NaN,NaN
704,704,Czechia,Europe,74.7,2000,1,126.0,0,13.22,0.0,...,98.0,6.31,98.0,0.1,3.508064e+10,NaN,2.3,2.3,NaN,NaN
1506,1506,Libya,Africa,72.7,2015,0,138.0,1,NaN,0.0,...,97.0,NaN,97.0,0.1,8.468144e+09,NaN,5.8,5.5,0.719,13.4

In [101]:
lifedf.update(gdpdropna)

summary for GDP: na downsize from 448 to 431

In [96]:
pop=pd.read_excel('/home/gzn/pgm/API_SP.POP.TOTL_DS2_en_excel_v2_5454877.xls',sheet_name='Data')
pop= pop[['Country Name','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]

In [97]:
pop.set_index('Country Name',inplace=True)
nan_pop = lifedf[lifedf['Population'].isna()]
nan_pop

,Unnamed: 0,Country,continent,Life expectancy,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
64,64,Antigua and Barbuda,Americas,76.4,2015,0,13.0,0,NaN,0.000000,...,86.0,NaN,99.0,0.2,13566.95410,NaN,3.3,3.3,0.784,13.9
65,65,Antigua and Barbuda,Americas,76.2,2014,0,131.0,0,8.56,2422.999774,...,96.0,5.54,99.0,0.2,12888.29667,NaN,3.3,3.3,0.782,13.9
66,66,Antigua and Barbuda,Americas,76.1,2013,0,133.0,0,8.58,1991.430372,...,98.0,5.33,99.0,0.2,12224.86416,NaN,3.3,3.3,0.781,13.9
67,67,Antigua and Barbuda,Americas,75.9,2012,0,134.0,0,8.18,2156.229842,...,97.0,5.39,98.0,0.2,12565.44197,NaN,3.3,3.3,0.778,13.8
68,68,Antigua and Barbuda,Americas,75.7,2011,0,136.0,0,7.84,1810.875316,...,99.0,5.65,99.0,0.1,11929.34991,NaN,3.3,3.3,0.782,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,2901,Yemen,Asia,62.2,2004,0,247.0,42,0.06,0.000000,...,72.0,4.90,72.0,0.1,NaN,NaN,13.9,13.9,0.464,8.4
2902,2902,Yemen,Asia,61.9,2003,0,249.0,43,0.04,0.000000,...,61.0,5.00,61.0,0.1,NaN,NaN,14.0,13.9,0.457,8.2
2903,2903,Yemen,Asia,61.5,2002,0,25.0,45,0.07,0.000000,...,64.0,4.22,65.0,0.1,NaN,NaN,14.0,14.0,0.450,8.0
2904,2904,Yemen,Asia,61.1,2001,0,251.0,46,0.08,0.000000,...,73.0,4.34,73.0,0.1,NaN,NaN,14.0,14.0,0.444,7.9
2905,2905,Yemen,Asia,68.0,2000,0,252.0,48,0.07,0.000000,...,74.0,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7

In [98]:
missdf = nan_pop[['Country','Year']]
for i in range(len(missdf)):
    country = str(missdf.iloc[i,0])
    year = str(missdf.iloc[i,1])
    if country in set(pop.index.tolist()):
        nan_pop.iloc[i,19]=pop.loc[country,year]
    else:
        nan_pop.iloc[i,19]=np.nan

In [99]:
nan_pop = nan_pop.replace('NaN', np.nan)
nana = nan_pop[nan_pop['Population'].isna()]
len(nana)

387

In [100]:
popdropna = nan_pop.dropna(subset=['Population'])
popdropna

,Unnamed: 0,Country,continent,Life expectancy,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
64,64,Antigua and Barbuda,Americas,76.4,2015,0,13.0,0,NaN,0.000000,...,86.0,NaN,99.0,0.2,13566.95410,89941.0,3.3,3.3,0.784,13.9
65,65,Antigua and Barbuda,Americas,76.2,2014,0,131.0,0,8.56,2422.999774,...,96.0,5.54,99.0,0.2,12888.29667,89236.0,3.3,3.3,0.782,13.9
66,66,Antigua and Barbuda,Americas,76.1,2013,0,133.0,0,8.58,1991.430372,...,98.0,5.33,99.0,0.2,12224.86416,88497.0,3.3,3.3,0.781,13.9
67,67,Antigua and Barbuda,Americas,75.9,2012,0,134.0,0,8.18,2156.229842,...,97.0,5.39,98.0,0.2,12565.44197,87674.0,3.3,3.3,0.778,13.8
68,68,Antigua and Barbuda,Americas,75.7,2011,0,136.0,0,7.84,1810.875316,...,99.0,5.65,99.0,0.1,11929.34991,86729.0,3.3,3.3,0.782,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757,2757,United Arab Emirates,Asia,75.1,2004,0,95.0,1,1.77,2972.448675,...,94.0,2.46,94.0,0.1,36161.17610,3993339.0,5.2,4.9,0.813,12.4
2758,2758,United Arab Emirates,Asia,74.9,2003,0,98.0,1,1.74,277.181833,...,94.0,2.65,94.0,0.1,3323.52318,3813443.0,5.2,5.0,0.808,12.3
2759,2759,United Arab Emirates,Asia,74.7,2002,0,11.0,1,1.72,2598.842827,...,94.0,2.72,94.0,0.1,31311.35936,3633655.0,5.3,5.0,0.803,12.1
2760,2760,United Arab Emirates,Asia,74.5,2001,0,14.0,1,1.67,243.753913,...,94.0,2.48,94.0,0.1,3161.52935,3454198.0,5.3,5.1,0.798,12.0
2761,2761,United Arab Emirates,Asia,74.2,2000,0,17.0,1,1.64,262.958958,...,94.0,2.38,94.0,0.1,3371.26869,3275333.0,5.4,5.1,0.791,11.8

summary for population: na downsize from 652 to 387

In [113]:
for i in range(len(popdropna)):
    index = int(popdropna.iloc[1]['Unnamed: 0'])
    popdropna.iloc[i,18]=lifedf.iloc[index,18]

In [114]:
lifedf.update(popdropna)